body {
  overflow: scroll;
}

h1,
h2 {
  font-family: "Staatliches", cursive;
  text-align: center;
  margin: 0;
}

.mainapp {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
