body {
  overflow: scroll;
}

h1,
h2 {
  font-family: "Staatliches", cursive;
  text-align: center;
}

.mainapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
